<%= form_with(model: [project, task, comment]) do |form| %>
  <div class="field">
    <strong><%= form.label :content, "Content of Comment" %></strong>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.select :task_id, project.tasks.pluck(:title, :id) %>
  </div>

  <div class="field">
    <%= form.submit "Сохранить", class: 'button button-main' %>
  </div>

<% end %>
