<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Deadline at:</strong>
  <%= @task.deadline_at %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @task.project.name %>
</p>

<p>
  <strong>Requested at:</strong>
  <%= @task.created_at %>
</p>

<!--форма создания комментария-->
<%= render 'comments/form', project: @project, task: @task, comment: @comment %>

<table>
  <thead>
  <tr>
    <th>Content</th>
    <th>User</th>
  </tr>
  </thead>

  <tbody>
  <% @task.comments.each do |comment| %>
    <tr>
      <td><%= comment.content %></td>
      <td><%= comment.user.email %></td>
      <td><%= link_to 'Edit', edit_project_task_comment_path(@project, @task, comment)%></td>
      <td><%= link_to 'Destroy', project_task_comment_path(@project, @task, comment) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_project_task_path(@task.project, @task) %> |
<%= link_to 'Back', project_tasks_path(@task.project) %>
