<!DOCTYPE html>
<html>
<head>
  <title>TaskTracker</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<body>
<header>
  <ul class="hr">
    <li><%= link_to 'Home', projects_path %></li>
    <% if logged_in? %>
      <li><%= link_to 'Log out', sessions_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <li>
        <strong><%= check_name_output %></strong>
      </li>
    <% else %>
      <li><%= link_to 'Sign in', new_user_path %></li>
      <li><%= link_to 'Log in', new_sessions_path %></li>
    <% end %>
  </ul>
</header>

<% flash.each do |type, msg| %>
  <div class="flash-<%= type %>">
    <p><%= msg %></p>
  </div>
<% end %>
<%= yield %>
</body>
</html>